<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="horus_reboot.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <horus_reboot.Properties.Settings>
            <setting name="SaveDefaultModel" serializeAs="String">
                <value />
            </setting>
            <setting name="LoadDefaultModel" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveDefaultView" serializeAs="String">
                <value />
            </setting>
            <setting name="LoadDefaultView" serializeAs="String">
                <value />
            </setting>
            <setting name="DecimalRounding" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="Metric" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>millimeter</string>
                        <string>centimeter</string>
                        <string>decimeter</string>
                        <string>meter</string>
                    </ArrayOfString>
                </value>
            </setting>
        </horus_reboot.Properties.Settings>
    </userSettings>
</configuration>